
.country{
    border: 3px solid rgb(0, 0, 0);
    width: 312px;
    height: 242px;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    
    
   
}

#sc-md-banner{
    display: flex;
    align-items:flex-start;
}

.sc-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.time{
    padding-left: 20px;
}


.c-flex{
    display: flex;
}

.verses{
    margin-left: 20px;
}

.parti{
    margin: 20px;
}